:root {
  --bs-body-font-size: 16px;
}
div.tab-content{
  padding-left: 3px;
}
input.status {
  //width: 30px;
  background-color: aliceblue;
  text-align: center;
  text-transform: uppercase;
}
input[value="s"] { background-color: #b6bdc4;  }
input[value="x"] { background-color: #27bcfd;  }

[draggable=true]{
  cursor: grab;
}

.blk{
  height: 45px;
  line-height: 30px;
}
.blk > * {
  display: inline-block;
  //padding-left: 8px;
}
.timespan{}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
[label] .tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  list-style: none;
  margin-bottom: -1px;
  padding: 0.2rem 0.2rem;
}
div.blocks{
  max-width: 1211px;
  > div {width: 25%; float: left;}
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}
.buttons > *{
  margin-right: 5px;
}
[class^=w-], [class *= " w-"]{
  float: left;
}
/*
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  text-transform: capitalize;
}

.ttrack input{
  width: 35px;
  text-align: center;
}
div.blocks[compact_mode="true"]{
  .timespan, .status, .push_btn{
    display: none;
  }
  .task{
    width: 65%;
  }
  div{
    width: 14%;
  }
}
*/
#ttracks{
  left: 65vw;
}
